body {
}

td, th{
    height: 50px;
    width: 50px; 
    text-align: center;
}

.currentDay{
    background-color: lightpink;
}

.noDate{
    background-color: deeppink;
}

table {
    width: 350px; 
    height:250px; 
    position:static;
    font-display: block;
}

.calendar{
    width: 700px; 
    min-height: 50px; 
    float: left;
}

.key {
    width: 700px; 
}

.titleSection {
    text-align: center;
}

.habitCol {
    max-height: 75px;
    max-width: 75px;
    min-height: 75px;
    min-width: 75px;
    border-color: black;
}

.habitName{
    display:inline-flex;
}

.todaysHabits {
    float: left;
    margin-left: 20px;
}

.habitContainer{
    display: flex;
}