body {
}

.list{
    overflow: scroll; 
    max-height: 600px; 
}


.listTitle {
    height: 40px; 
    border-bottom: 1px solid black;
    font-size: large;
}

.addButton{
    position: absolute;
    right: 10px; 
    width: 30px; 
    height: 30px; 
}

.addButton :hover {
    background: #6d6464;
    cursor: pointer; 
}

.editButton {
    position: relative;
    left: 5px; 
    width: 15px;
    height: 15px;
}

.editButton :hover {
    background: #6d6464;
    cursor: pointer;
}


.deleteButton {
    position: relative;
    left: 5px;
    width: 15px;
    height: 15px;
    color: crimson;  
}

.deleteButton :hover {
    background: #6d6464;
    cursor: pointer;
}
