body {
}


.schedule{
    max-width: 400px; 
    min-width: 400px; 
    float: left;
    margin-top: 10px; 
    margin-right: 10px; 
}


.addEvent{
    width: 30px;
    height: 30px;
}

    .addEvent :hover {
        background: #6d6464;
        cursor: pointer;
    }

    .timeCol{
        max-width: 20px; 
    }

    .scheduleTitle{
        text-align: left; 
    }


.event {
    background: #00ff21;
    float: left;
    font-size: 11px; 
}

td.dataCol{
    padding:unset; 
    border-top: unset; 
}

.removePadding {
    padding: unset;
    border-top: 1px solid #dee2e6;
}